<div class="login-container">
    <div class="text-center">
        <h1 class="logo">Everything Store</h1>
        <p class="about">Everything Store is the world's most trusted store for quality products. We are the leading
            online aggregator of all categories of items</p>
    </div>
    <img src="assets/images/storephoto.jpg" class="img-fluid rounded-4" alt="">
    <div class="logclass">
        <div id="login-to-continue">Login to continue</div>
        <form>
            <div class="login-form form-control">
                <div class="form-group"><label for="">USERNAME :</label>
                    <input type="text" class="form-control" name="uname">
                </div>
                <div class="form-group"><label for="">PASSWORD :</label>
                    <input type="password" class="form-control" name="pword" id="">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary form-control" value="login">
                </div>
            </div>
        </form>
    </div>
</div>